
  <div class="row">
      <div class="col-12">
        <img class="img-fluid cover-image" src="<%- config.root %><%- post.cover_image || theme.default_cover_image %>" alt="<%- post.title || theme.default_post_title || "Untitled" %>">
      </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2 mt-4">
      <div class="post-page text-center my-4">
      <h1><%- post.title || theme.default_post_title || "Untitled" %></h1>
      <hr>
      <span class="date">
          <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MMM D YYYY'}) %>
      </span>
    </div>
    <%- post.content %>
    </div>
  </div>
 

