
  <div class="row">
      <div class="col-12">
        <img class="img-fluid cover-image" src="<%- config.root %><%- post.cover_image || theme.default_cover_image %>" alt="<%- post.title || theme.default_post_title || "Untitled" %>">
      </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2 mt-4">
      <div class="post-page text-center my-4">
      <h2><%- post.title || theme.default_post_title || "Untitled" %></h2>
      <hr>
      <span class="date">
          <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MMM D YYYY'}) %>
      </span>
      <span class="pv">
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        <span id="busuanzi_container_page_pv">阅读量<span id="busuanzi_value_page_pv"></span>次</span>
      </span>
    </div>
    <div class="article">
    <%- post.content %>
    </div>
    <% if (post.comments){ %>
      <div id="container"></div>
      <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
      <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
      <script>
      var gitment = new Gitment({
        id: '<%= page.title %>', 
        owner: 'tancy',
        repo: 'ntxme',
        oauth: {
          client_id: 'eeccaa2d13005ac6c4b6',
          client_secret: '7507c95b70ceb83ff73498276a713aea0c27b595',
        },
        cleanly: true,
      })
      gitment.render('container')
      </script>

    <% } %>
    </div>
  </div>
 

